body {
  font-family: "Inter", sans-serif;
  color: #211B12;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #211B12;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

.btn {
  list-style: none;
  margin-right: 55px;
  display: inline-block;
  padding: 7px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 2px solid #BF7506;
}
.btn__text {
  margin-left: 4px;
  color: #211B12;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.nav__link {
  text-decoration: none;
  color: #BF7506;
  margin-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.nav__link--active {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}
.header__text {
  max-width: 510px;
  margin-left: 27px;
}
.header__strong-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.header__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 8px;
  margin-bottom: 24px;
}
.header__title--color {
  color: #BF7506;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
  margin-right: 55px;
}
.social-list__link {
  display: inline-block;
  padding: 8px;
}

.portfolio__heading {
  color: #BF7506;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 32px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.cards__card {
  max-width: 400px;
}
.cards__content-wrapper {
  padding: 16px;
}
.cards__card-title {
  color: #BF7506;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 0;
  margin-bottom: 8px;
}
.cards__text {
  font-size: 16px;
  line-height: 150%;
}
.cards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tags {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.tags__link {
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  background: #fff;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
  margin-right: 4px;
}
.tags__link:hover {
  color: #fff;
  background: #DD9C3C;
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.developer__photo {
  width: 360px;
  height: 440px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.developer__content {
  margin-left: 55px;
}
.developer__hello-text {
  font-size: 24px;
  line-height: 135%;
}
.developer__title {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #BF7506;
}
.developer__motto {
  display: inline-block;
  margin: 16px 0;
  font-size: 24px;
  line-height: 150%;
  color: #BF7506;
}
.developer__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}
.developer__sign {
  min-width: 200px;
  margin-top: 35px;
}

.skills__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
}

.feedback {
  padding: 80px 0 160px;
  max-width: 435px;
  margin: auto;
}
.feedback__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 16px;
}
.feedback__buttons {
  background: #fff;
  border: none;
  margin: 0;
  margin-left: auto;
  border-bottom: 2px solid #BF7506;
  cursor: pointer;
}

.form__input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}
.form__label {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  background: #fff;
}
.form__input {
  width: 100%;
  height: 56px;
  border: 3px solid #E0DEDC;
  border-radius: 4px;
  padding: 0 16px;
}
.form__input--textarea {
  min-height: 140px;
  padding-top: 16px;
}/*# sourceMappingURL=style.css.map */