body {
  font-family: "Inter", sans-serif;
  color: #211B12;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #211B12;
}

.container {
  max-width: 870px;
  width: 100%;
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 760px;
  }
}
@media (max-width: 790px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 90%;
  }
}
.btn {
  list-style: none;
  margin-right: 55px;
  display: inline-block;
  padding: 7px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-bottom: 2px solid #BF7506;
}
.btn--download {
  margin-right: 0;
}
.btn__text {
  margin-left: 4px;
  color: #211B12;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 40px;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 0;
}
.nav__item {
  margin-left: 24px;
}
.nav__link {
  text-decoration: none;
  color: #BF7506;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.nav__link--active {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 480px) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav__item {
    margin: 0;
    margin-bottom: 10px;
  }
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 70px 0;
}
.header__text {
  max-width: 510px;
  margin-left: 27px;
}
.header__strong-text {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.header__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 8px;
  margin-bottom: 24px;
}
.header__title--color {
  color: #BF7506;
}
.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 790px) {
  .header__photo {
    max-width: 150px;
  }
  .header__strong-text {
    font-size: 36px;
  }
  .header__title {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
  .header__text {
    text-align: center;
  }
  .header__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  list-style: none;
  margin-right: 55px;
}
.social-list__link {
  display: inline-block;
  padding: 8px;
}

@media (max-width: 790px) {
  .social-list {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .social-list {
    margin-right: 0;
  }
}
.portfolio__heading {
  color: #BF7506;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 32px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.cards__card-img {
  max-width: 100%;
}
.cards__content-wrapper {
  padding: 16px;
}
.cards__card-title {
  color: #BF7506;
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
  margin-top: 0;
  margin-bottom: 8px;
}
.cards__text {
  font-size: 16px;
  line-height: 150%;
}
.cards__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .cards__card {
    max-width: 350px;
  }
}
@media (max-width: 790px) {
  .cards__card {
    max-width: 45%;
  }
  .cards__content-wrapper {
    padding: 8px 0;
  }
}
@media (max-width: 600px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards__card {
    min-width: 100%;
    margin-bottom: 50px;
  }
}
.tags {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
  margin-bottom: 16px;
}
.tags__link {
  text-decoration: none;
  padding: 4px 8px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  background: #fff;
  border: 1px solid #DD9C3C;
  border-radius: 4px;
  margin-right: 4px;
}
.tags__link:hover {
  color: #fff;
  background: #DD9C3C;
}

@media (max-width: 600px) {
  .tags {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .tags__item {
    margin-bottom: 10px;
  }
}
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
  margin-bottom: 40px;
}
.developer__photo {
  width: 360px;
  height: 440px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.developer__content {
  margin-left: 55px;
}
.developer__hello-text {
  font-size: 24px;
  line-height: 135%;
}
.developer__title {
  margin-top: 4px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  color: #BF7506;
}
.developer__motto {
  display: inline-block;
  margin: 16px 0;
  font-size: 24px;
  line-height: 150%;
  color: #BF7506;
}
.developer__text {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}
.developer__sign {
  min-width: 200px;
  margin-top: 35px;
}

@media (max-width: 790px) {
  .developer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .developer__photo {
    width: 100%;
    height: 350px;
    margin-bottom: 30px;
  }
  .developer__content {
    margin-left: 0;
    padding-left: 15px;
  }
}
@media (max-width: 600px) {
  .developer {
    margin-top: 40px;
  }
}
.skills__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 135%;
}

.feedback {
  padding: 80px 0 80px;
  margin: auto;
  position: relative;
}
.feedback__bg-img {
  position: absolute;
  right: 0;
  top: 170px;
  width: 20%;
}
.feedback__form-container {
  max-width: 435px;
  margin: auto;
}
.feedback__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 16px;
}
.feedback__buttons {
  background: #fff;
  border: none;
  margin: 0;
  margin-left: auto;
  border-bottom: 2px solid #BF7506;
  cursor: pointer;
}

@media (max-width: 700px) {
  .feedback__bg-img {
    display: none;
  }
}
@media (max-width: 600px) {
  .feedback {
    padding: 30px 0 50px;
  }
}
@media (max-width: 480px) {
  .feedback {
    max-width: 90%;
  }
}
.form__input-group {
  position: relative;
  padding-top: 9px;
  margin-bottom: 24px;
}
.form__label {
  position: absolute;
  top: 0;
  left: 16px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 150%;
  color: #83807C;
  background: #fff;
}
.form__input {
  width: 100%;
  height: 56px;
  border: 3px solid #E0DEDC;
  border-radius: 4px;
  padding: 0 16px;
}
.form__input--textarea {
  min-height: 140px;
  padding-top: 16px;
}

.footer__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #83807C;
}/*# sourceMappingURL=style.css.map */