.cards
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 40px
    &__card
        max-width: 400px
    &__content-wrapper
        padding: 16px
    &__card-title
        color: #BF7506
        font-weight: 700
        font-size: 24px
        line-height: 135%
        margin-top: 0
        margin-bottom: 8px
    &__text
        font-size: 16px
        line-height: 150%
    &__buttons
        display: flex
        align-items: center
        &-link
            margin-right: 25px
            text-decoration: none
            display: flex
            align-items: center
            padding: 7px 8px
            border-bottom: 2px solid #BF7506
        &-text
            margin-left: 4px
            font-weight: 700
            font-size: 16px
            line-height: 150%
