.nav
    &__list
        display: flex
        align-items: center
        list-style: none
        padding: 0
    &__item
        margin-left: 24px
    &__link
        text-decoration: none
        color: #BF7506
        font-weight: 400
        font-size: 16px
        line-height: 150%
        &--active
            font-weight: 700
            font-size: 16px
            line-height: 150%

@media (max-width: 480px)
    .nav
        &__list
            flex-direction: column
        &__item
            margin: 0
            margin-bottom: 10px